@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

html {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
    background-image: url(../img/3.jpg);
    background-position: center;
    background-attachment: fixed;
}


@media screen and (max-width: 500px) {
    .header {
        height: 30%;
    }
  
    .page-content {
        margin-left: 4em;
    }

}
