@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

html, body {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      line-height: 1.5;
      color: #000000;
      width: 100%;
      height: 100%;
      overflow-x: hidden; 
}

.page-content{
    margin-left: 13em;
}

.upper-nav {
    border-bottom: 1px solid black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 13em;
}

.upper-nav ol {
    list-style-type: none;
    padding-left: 0;
}

.upper-nav-obj {
    display: inline-block;
    color: #000;
    padding: 0 0.5em;
}

.side-nav {
    position: absolute;
    width: 13em;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 10em;
    background-color:rgb(255, 255, 255);
}

.side-nav ol {
    list-style-type: none;
    padding-left: 0;
    color:black;
}

nav a {
    color: black;
}

nav a:hover {
    color: maroon;
}

.side-nav-obj {
    display: block;
    color: #000;
    padding: 0 0 0.5em 1em;
}

.side-nav-sub-obj {
    display: block;
    color: #000;
    padding: 0 0 0.5em 2em;;
}

.header{
    text-align: center;
    padding: 5em 0 0 0;
    top: 0;
    width: 100%;
    margin: 0 0 0 0;
    left: 0px;
    margin-left: 0;
    font-size: 2rem;
    background-size: cover;
    background-image: url(../img/2.jpg);
    background-position: right;
    color: maroon;
}

.content {
    color: black;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    height: 100%;
    padding: 0em 2em 0em 2em;
    max-width: 45rem;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .header {
        height: 40%;
    }
}